/* src/index.css */

:root {
  /* --- GRADIENTES --- */
  --gradiente-atardecer: linear-gradient(120deg, #ff6e7f 0%, #ffb347 100%);
  --gradiente-purpura-suave: linear-gradient(to bottom, #6a1b9a, #ba68c8, #f06292);

  /* --- COLORES SÓLIDOS Y TEXTO --- */
  --color-texto-principal: #ffffff;
  --color-texto-secundario: rgba(255, 255, 255, 0.85);
  --color-accion-primario: #ff6e7f;
  --color-accion-secundario: #ffb347;



  --glass-background: rgba(46, 23, 56, 0.25);
  --glass-blur: 15px;
  --glass-border-color: rgba(255, 110, 127, 0.5);

  /* --- FUENTES --- */
  --font-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-principal);
  color: var(--color-texto-principal);
  background: var(--gradiente-atardecer);
  background-attachment: fixed;
  min-height: 100vh;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}