/* src/styles/Navbar.css */

/* Definimos la altura del navbar como una variable global */
:root {
  --navbar-height: 70px; /* Puedes ajustar este valor si cambias el padding/fuente */
}

.navbar, .main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  height: var(--navbar-height); /* Aplicamos la altura */

  background: var(--glass-background);
  backdrop-filter: blur(var(--glass-blur));
  -webkit-backdrop-filter: blur(var(--glass-blur));
  border-bottom: 2px solid var(--glass-border-color);

  padding: 0 2rem; /* Ajustamos el padding ya que la altura es fija */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-texto-principal);
  font-weight: bold;
  font-family: var(--font-principal);
  transition: transform 0.3s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.navbar .links a {
  margin-left: 1.5rem;
  color: var(--color-texto-principal);
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar .links a:hover {
  text-decoration: underline;
  color: var(--color-accion-secundario);
}

.show {
  transform: translateY(0);
}

.hide {
  transform: translateY(-100%);
}
