.navbar {
  width: 100%; 
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000; 

  background: rgba(94, 107, 194, 0.25);
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 2px solid #ffe0f0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: transform 0.3s ease;
  z-index: 999;
}

.navbar .links a {
  margin-left: 1rem;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar .links a:hover {
  text-decoration: underline;
}


/* Estilod de header */
.main-header {
  background: rgba(94, 107, 194, 0.25);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 2px solid #ffe0f0a3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 0rem 2rem;
  transition: transform 0.3s ease;
  z-index: 999;
}

.show {
  transform: translateY(0); /* Muestra el header */
}

.hide {
  transform: translateY(-100%); /* Oculta el header hacia arriba */
}
